<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ '/research' | prepend: site.baseurl }}">Research</a></li>
      <li><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
      <li><a href="{{ '/teaching' | prepend: site.baseurl }}">Teaching</a></li>
      <li><a href="{{ '/lab' | prepend: site.baseurl }}">Lab</a></li>
      <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
      <li><a href="{{ site.baseurl }}/">Blog</a></li>
    </ul>
  </div>
</nav>