---
---

@import "{{ site.theme }}";

$header-bg-color: #000000;
$header-bg-color-secondary: #999999;

$body-link-color: #FF0000;
$blockquote-text-color: #819198;

$code-text-color: #494D4E;

a {
  color: $body-link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
