<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
    <title>{{ page.title | default: site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </head>
 
  <body>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>